<html>
  <head>
    <meta charset="utf-8">
    <%= get_theme() %>
    <link rel="icon" href="/favicon.ico">
    <title>ratwires</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="The graffiti wall of the internet">
    <meta name="keywords" content="anonymous,chan,textboard,text board,message board">
    <%= redirector() %>
    <%= live_runtime() %>
  </head>
  <body<%= live_body_attribute() %>>
    <%= render_banner() %>
    <%= content %>
    <%= render_live_toggle() %>
    <%= render_theme_switcher() %>
  </body>
</html>
